<template name = "Supplier">
  <body>
    <div class="container">
      <header>
        <h1>Supplier Company</h1>
      </header>
      <h3>My Products</h3>

        <ul class="category"  id="test">
          <li role="button" id="category1">Category1</li>
          {{#each products}}
              <p>{{name}}</p>
          {{/each}}
          <li role="button">Category2</li>
          <li role="button">Category3</li>
        </ul>

        {{> productsList}}
      <!-- trigger submit modal-->
      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#submitModal">Add Product</button>
      <!--toggled when add product button is clicked-->
      {{>productSubmit}}
    </div>
  </body>
</template>
